/* this one is for the SEATTLE page */

body, html {
	margin: 0px;
	font-family: 'Dosis', sans-serif;
	height: 100%;
	width: 100%;
	background-color: #FFF2CE;
}


#navbar img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
}

a {
	color: #828282;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
	transition: 0.1s;
}


/* nav bar kicks in here */

#navbar {
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: #FFFFFF;
	z-index: 25;
}

#logo {
	width:45px;
	float: left;
	position: relative;
	top: 15%;
	left: 20px;
	cursor: pointer;
}

.nav_button {
	position: relative;
	display: inline-block;
	padding: 10px;
	right: 5px;
	top: 5px;
	color: #828282;
	cursor: pointer;
	font-size: 24px;
	float: right;
	margin-right: 40px;
}

.nav_button:hover {
	font-weight: bold;
	color: #000000;
}

#welcome {
	font-size: 20px;
	position: relative; 
	display: inline-block;
	line-height: 60px;
	margin-left: 35px;

}

#navbar_wrapper {
	position: absolute;
	left: 0;
	height: 100%;
	display: inline-block;
	z-index: 10;
	width: 100%;
}

#layer {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
}

#background_image {
	width: 100%;
	height: 100%;
	background-image: url("../img/yonsei.jpg");
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}

/* here's the specific page's css */
/* SEATTLE */
#seattle {
	width: 100%;
	height: 100%;
}

.photo_display {
    position: relative;
    height: 100%;
    width: 100%;
}

#seattle img {
	width: 550px;
	position: relative;
	margin-top: 200px;
	transform: translateY(-50%)
	top: 50%;
	left: 30%;
	bottom: 50px;
}

#top_wrapper {
	width: 20%;
	position: fixed;
	top: 45%;
	translate: translateY(-50%);
	right: 10%;
	float: right;
}

#top_button {
	width: 120px;
	border-radius: 50%;
	position: fixed;
	top: 45%;
	translate: translateY(-50%);
	right: 85px;
	float: right;
}

#top_text {
	position: fixed;
	top: calc(45% + 105px);
	translate: translateY(-50%);
	right: 82px;
	float: right;
	color: black;
}
